/*
    Form
    - Button
    - Textarea
    - Select
 */
// Button
button,
button[type='submit'] {
    padding: 0;

    line-height: 1;
    white-space: nowrap;

    cursor: pointer;
    background: none;
    border: none;

    appearance: none;
}


// Textarea
textarea {
    max-height: rem(400);
}


// Select
select {
    height: rem(40);
}
