/*
    Button
 */
button[type='button'],
button[type='submit'] {
    padding: 0;

    line-height: 1;
    white-space: nowrap;

    cursor: pointer;
    background: none;
    border: none;

    appearance: none;
}

a.button {
    line-height: 1;

    text-decoration: none;
}

a.button,
.button[type='button'],
.button[type='submit'] {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: rem(20);

    color: $color-light;

    background-color: $color-dark;
    border: 1px solid currentColor;

    transition: background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s;


    // Types
    &:disabled,
    &.disabled {
        cursor: not-allowed;

        opacity: 0.5;


        // States
        &:hover {
            opacity: 0.5;
        }

    }

    &.block {
        display: block;
        width: 100%;
    }

    &.inverse {
        color: $color-dark;

        background-color: $color-light;


        // States
        &:hover {
        }
    }

    &.primary {
        background-color: $color-primary;


        // States
        &:hover {

        }
    }

    &.secondary {
        background-color: $color-secondary;


        // States
        &:hover {

        }
    }

    .icon {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;


        // Types
        &.left {
            margin-right: rem(10);
        }

        &.right {
            margin-left: rem(10);
        }
    }


    // States
    &:hover {
        opacity: 0.8;
    }
}
