/*
    Button
 */
.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: rem(40);
    padding-right: rem(15);
    padding-left: rem(15);

    color: $color-light;
    line-height: rem(20);

    background-color: $color-dark;
    border: 1px solid currentColor;

    transition: background-color 0.2s, border-color 0.2s, color 0.2s, opacity 0.2s;


    // States
    &:hover {
        background-color: $color-dark-tint-1;
    }

    &:disabled,
    &.is-disabled {
        pointer-events: none;
        cursor: not-allowed;

        opacity: 0.5;
    }


    // Types
    &.block {
        display: block;
        width: 100%;
    }


    // Sizes
    &.small {
        height: rem(30);
        padding-right: rem(10);
        padding-left: rem(10);

        font-size: rem(14);

        .button-icon {
            width: rem(20);
            height: rem(20);
        }
    }

    &.large {
        height: rem(50);
        padding-right: rem(30);
        padding-left: rem(30);

        font-size: rem(18);

        .button-icon {
            width: rem(40);
            height: rem(40);
        }
    }


    // Themes
    &.inverse {
        color: $color-dark;

        background-color: transparent;


        // States
        &:hover {
        }
    }

    &.primary {
        background-color: $color-primary;


        // States
        &:hover {
            background-color: $color-primary-tint-1;
        }
    }


    // Elements
    &-icon {
        display: flex;
        align-items: center;
        flex-grow: 0;
        flex-shrink: 0;
        justify-content: space-between;
        width: rem(30);
        height: rem(30);


        // Types
        &.left {
            margin-right: rem(10);
        }

        &.right {
            margin-left: rem(10);
        }
    }
}
