/*
    Message
 */
.status-message {
    display: flex;
    align-items: center;
    padding: rem(10);

    background-color: $color-light-shade-1;


    // Types
    &.success {
        color: $color-success;

        background-color: $color-success-tint-1;
    }

    &.warning {
        color: $color-warning;

        background-color: $color-warning-tint-1;
    }

    &.error {
        color: $color-error;

        background-color: $color-error-tint-1;
    }


    // Elements
    .icon {
        flex-grow: 0;
        flex-shrink: 0;
        margin-right: rem(5);
    }
}
